*.elc
*~
/var
/elpa
/request
/url
/.emacs.bmk
/.mc-lists.el
/.org-id-locations
/ac-comphist.dat
/auto-save-list
/el-get
/semanticdb
/pymacs
/external-lisp-files/python-mode*
/python-pep
/swank/slime-eldoc-d8b3cf74.el
/swank/slime-fbbb883a.el
/swank/slime-frame-colors-a24dd450.el
/swank/slime-repl-79b38c83.el
/thumbs*
/tramp
emacs-w3m*
/private
/var/pcache/gh/gh-gist-api/flamingbear
/.litable-lists.el
/backups/
/projectile-bookmarks.eld
/projectile.cache
/.projectile
