*~
*.elc
emacs-w3m*
/eshell/history
/eshell/lastdir
/ac-comphist.dat
/.emacs.bmk
/auto-save-list/.saves*
/elpa/*
/external-lisp-files/rinari*
/python-mode*
/semanticdb*
/thumbs*
/external-lisp-files/matlab*
/external-lisp-files/perl-compl*
/external-lisp-files/rainbow*
/pymacs*
/python-pep*
/external-lisp-files/smart-tabs*
/external-lisp-files/yasnip*
/external-lisp-files/ac-dict*
/external-lisp-files/anything*
/external-lisp-files/emacs-eclim*
/external-lisp-files/old_tars*
/external-lisp-files/ruby-debug*
/external-lisp-files/auto-complete*
/external-lisp-files/ruby-debug*
/external-lisp-files/slime*
/external-lisp-files/bbdb*
/external-lisp-files/fuzzy.el
/external-lisp-files/magit*
/external-lisp-files/nxhtml*
/external-lisp-files/popup.el
maybe_not_used
/tramp
/external-lisp-files/yaml-mode/
/external-lisp-files/bloody-gnus/
/external-lisp-files/emacs_chrome/
/external-lisp-files/smarttabs/
/external-lisp-files/jshint-mode/
/external-lisp-files/markdown-mode/
/external-lisp-files/js2-mode/
/external-lisp-files/js-comint.el
