*.elc
*~
/.cask/
/.emacs.bmk
/.places
/.projectile
/projectile-bookmarks.eld
/projectile.cache
/history
/ac-comphist.dat
/request/
/tramp
/elpa
/smex-items
/recentf
/.gnu-emacs-custom
/emojis
/network-security.data
/site-lisp/es6-snippets/
/.cache/
/transient/
/url/
/var/
/code-review-db-file.sqlite
/forge-database.sqlite
/.dap-breakpoints
/.lsp-session-v1
/eln-cache/
/projects
